<!DOCTYPE html>
<html lang="en">

<head>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">

	<title>Pipeline de optimización de imagen</title>

	<!-- Bootstrap core CSS -->
	<link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">

	<!-- Custom styles for this template -->
	<link href="{{ url_for('static', filename='css/portfolio-item.css') }}" rel="stylesheet">

</head>

<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
	<div class="container">
		<a class="navbar-brand" href="/">Pipeline de optimización de imagen</a>
  </div>
</nav>

<!-- Page Content -->
<div class="container">

	<!-- Portfolio Item Heading -->
	<h1 class="my-4">Cargar o seleccionar imagen
	</h1>

	<!-- Portfolio Item Row -->
	<div class="col-sm-12">
		<form class="form-inline" method="POST" action="{{ url_for('index') }}" enctype="multipart/form-data"> 
			<input id="file" name="file" type="file" class="form-control mb-2 mr-sm-2" required>
			<button type="submit" class="btn btn-primary mb-2">Subir</button>
		</form>
		<br>
		<h4>Imagenes totales: {{images|length}}</h4>
		<div class="col-sm-12">
			{% for image in images %}
			<a href="/processing/{{image[1]}}">
			<img class="thumb" src="{{image[0]}}" title="{{image[1]}}">
			</a>
			{% endfor %}
		</div>
		<br>
	</div>
	<!-- /.row -->
</div>
<!-- /.container -->

<!-- Bootstrap core JavaScript -->
<script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

</body>

</html>
