<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Pipeline de optimización de imagen</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='css/portfolio-item.css') }}" rel="stylesheet">
    

</head>

<body>


<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" href="/">Pipeline de optimización de imagen</a>
    </div>
</nav>

<!-- Page Content -->
<div class="container">

    <!-- Portfolio Item Heading -->
    <h1 class="my-4">Lista de transformaciones
    </h1>

    <!-- Portfolio Item Row -->
    <div class="col-sm-12">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <h4>Original</h4>
                    <a href="{{original[0]}}" target="_blank">
                        <img class="thumb" src="{{original[0]}}" title="{{original[0]}}">
                    </a>                
                    <input type="hidden" id="original" value="{{original[1]}}"> 
                </div>
                <div class="col-sm-6">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-6">
                                <h4>Análisis OCR</h4>
                                <textarea rows="4" cols="50" type="text" name="text" id="text">LARRY MAURICIO PORTOCARRERO LOPEZ</textarea>
                                <button id="ocr-button-transformations" type="button" class="btn btn-primary">Analizar</button>                                
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div id="ocr-table-transformations" class="table-responsive"></div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-3">
                                <h4>Transformaciones seleccionadas</h4>
                                <ul id="selectedTransformations"></ul>
                                <button id="process-button" type="button" class="btn btn-primary">Procesar</button>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div id="ocr-table-transformations" class="table-responsive"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <br>
        <h4>Transformaciones totales: {{transformations|length}}</h4>
        <div class="row">
            {% for transformation in transformations %}
            <div class="col-sm-3">
                <a href="{{transformation[0]}}" target="_blank">
                    <img class="col-sm-12 thumb" src="{{transformation[0]}}" title="{{transformation[1].split('-')[0].replace('_', ' ').capitalize()}}">
                </a>
                <h5 class="col-sm-12" >
                    <input type="checkbox" value="{{transformation[1].split('-')[0]}}" id="{{transformation[1].split('-')[0]}}">
                    <label for="{{transformation[1].split('-')[0]}}">
                        {{transformation[1].split('-')[0].replace('_', ' ').capitalize()}}
                    </label>
                </h5>
                <hr>
                <br><br>
            </div>
            {% endfor %}
        </div>
        <br>
    </div>
    <!-- /.row -->
</div>
<!-- /.container -->

<!-- Bootstrap core JavaScript -->
<script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/main.js') }}"></script>

</body>

</html>
